<body bgcolor="grey">
	<h1>This is the about pages</h1>

	<p>Welcome to this fantastic application</p><br>

	<table border="0px" bgcolor="white">
		<tr>
			<td>
				1x Cell
			</td>
		</tr>
	</table>
</body>